#competency-selector {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
}


.competency-selector-ul li {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.competency-selector-ul li.show {
    transition: all 0.5s ease-out;
    animation-name: example;
    animation-duration: 1s;
}

.competency-selector-actions {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 60px;
}

.fix-margin {
    margin-top: 0px;
    border-radius: 3px !important;
    background-color: rgb(170, 170, 170);
}

@keyframes example {
    from {
        margin-top: 0px;
        opacity: 0;
    }
    to {
        margin-top: -55px;
        opacity: 0;
    }
}

@keyframes example2 {
    from {
        margin-top: 55px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 0;
    }
}